@import url('icon-font.css');
@import url('dropit.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext);
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family: 'Open Sans';
    font-size: 13px;
    line-height: 1.4;
    background: url(../img/bg-pattern.png) repeat;
}

.container {
	margin: 0 auto 0 auto;
	position: relative;
	width: 960px;
	display: block;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
	background: url(../img/bg_opus_big.png) no-repeat center;
	background-position: center 88px;
	width: 100%;
	min-height: 1000px;
}
/* ==========================================================================
   Header Styles
   ========================================================================== */
header {
	background: url(../img/top-menu-bg.png) top center no-repeat;
	width: 100%;
	height: 108px;
}

.cart-flags {
	top: 20px;
	right: 0px;
	position: absolute;
	color: #d8d8d8;
}
	span.cart a {
		font-size: 12px;
		text-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
		line-height: 18px;
		color: #d8d8d8;
		text-decoration: none;
		margin-right: 42px;
	}
		span.cart a:hover, .reg-login a:hover { text-decoration: underline; }
		span.cart i {
			font-size: 18px;
			vertical-align: middle;
			padding-right: 12px;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
		}
.reg-login {
	display: inline;
	position: absolute;
	right: 0;
	top: 119px;
}
	.reg-login a {;
		font-size: 13px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, .9);
		line-height: 18px;
		color: #d8d8d8;
		text-decoration: none;
		margin-left: 20px;
	}

.bread-nav { list-style-type: none; display: inline-block; margin-top: 17px; font-weight: 300; }
	.bread-nav li { display: inline; line-height: 16px; text-shadow: 0px 1px 3px rgba(0, 0, 0, .9); color: white; font-size: 13px; }
	.bread-nav li a { text-decoration: underline; color: white; }
	.bread-nav li a:hover { text-decoration: underline; }
	.bread-nav li:after {
		font-family: 'icomoon';
		content: "\e66a";
		font-size: 14px;
		vertical-align: middle;
		color: white;
		padding: 0px 3px;
	}
	.bread-nav li:last-child:after {content: ""; }


.cs, .en {
	height: 19px;
	text-indent: -9999px;
	display: inline-block;
}
	.cart-flags .cs.active { background: url(../img/flags-sprite.png) no-repeat 0 0; }
	.cart-flags .en.active { background: url(../img/flags-sprite.png) no-repeat -26px 0; }
	.cs { background: url(../img/flags-sprite.png) no-repeat 0 -19px; width: 26px; }
	.en { background: url(../img/flags-sprite.png) no-repeat -26px -19px; width: 28px; margin-left: -3px; }
	.cs:hover { background: url(../img/flags-sprite.png) no-repeat 0 0; }
	.en:hover { background: url(../img/flags-sprite.png) no-repeat -26px 0; }

.logo {
	background: url(../img/logo.png) no-repeat;
	width: 136px;
	height: 75px;
	text-indent: -9999px;
	display: inline-block;
	margin-top: 33px;
	margin-left: 70px;
}

.top-menu {
	width: 471px;
	list-style-type: none;
	display: block;
	margin-top: -47px;
	margin-left: 279px;
}
	.top-menu li {
		background: url(../img/divider-top-menu.png) right center no-repeat;
		float: none;
		display: inline-block;
		padding: 0 14px;
		margin-left: -3px;
	}
	.top-menu li:last-of-type { background: none; }
	.top-menu li a {
		text-decoration: none;
		color: rgb(87, 87, 87);
		font-size: 14px;
		font-weight: 400;
		display: block;
		line-height: 41px;
	}
		.top-menu li a:hover {
			color: rgb(63, 62, 62);
		}
header form {
	display: inline;
	float: right;
	margin-top: -41px;
	line-height: 41px;
}
	input.search[type='text'] {
		font-family: 'Open Sans';
		font-size: 12px;
		font-weight: 300;
		width: 170px;
		padding: 5px 30px 5px 10px;
		background: rgba(255, 255, 255, .45);
		border: none;
		outline: none;
		box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
		-o-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
		-ms-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
	}
	::-webkit-input-placeholder { color: #6d6c6c; }
	::-moz-placeholder { color: #6d6c6c; } /* firefox 19+ */
	:-ms-input-placeholder { color: #6d6c6c; } /* ie */
	input:-moz-placeholder { color: #6d6c6c; }
	header form button {
		background: none;
		border: none;
		margin-left: -34px;
		font-size: 16px;
		color: #6c6c6c;
		display: inline-block;	
	}

/* ==========================================================================
   Styly pro kategorie
   ========================================================================== */
.gloves {
	background: url(../img-slideshow/category-bg/bg-gloves.png) no-repeat;
	height: 350px;
}
.shoulders {
	background: url(../img-slideshow/category-bg/bg-shoulders.png) no-repeat;
	height: 350px;
}
.elbows {
	background: url(../img-slideshow/category-bg/bg-elbows.png) no-repeat;
	height: 350px;
}
.knees {
	background: url(../img-slideshow/category-bg/bg-knees.png) no-repeat;
	height: 350px;
}
.goalie {
	background: url(../img-slideshow/category-bg/bg-goalie.png) no-repeat;
	height: 350px;
}
.lapacka {
	background: url(../img-slideshow/category-bg/bg-lapacka.png) no-repeat;
	height: 350px;
}
.vyrazecky {
	background: url(../img-slideshow/category-bg/bg-vyrazecky.png) no-repeat;
	height: 350px;
}
.kalhoty {
	background: url(../img-slideshow/category-bg/bg-kalhoty.png) no-repeat;
	height: 350px;
}
.vesty {
	background: url(../img-slideshow/category-bg/bg-vesty.png) no-repeat;
	height: 350px;
}
.hokejky {
	background: url(../img-slideshow/category-bg/bg-hokejky.png) no-repeat;
	height: 350px;
}
.doplnky {
	background: url(../img-slideshow/category-bg/bg-doplnky.png) no-repeat;
	height: 350px;
}
.bags {
	background: url(../img-slideshow/category-bg/bg-tasky.png) no-repeat;
	height: 350px;
}
.hockeyball {
	background: url(../img-slideshow/category-bg/bg-hockeyball.png) no-repeat;
	height: 350px;
}
.action {
	background: url(../img-slideshow/category-bg/bg-action.png) no-repeat;
	height: 350px;
}

/* ==========================================================================
   Styly pro Detail
   ========================================================================== */
.detail { margin-top: 30px; }
.detail .content-box {
	width: 750px;
	float: right;
	padding: 20px;
}
	.tabs { list-style-type: none; position: absolute; left: 0; top: 28px; }
	.tabs li a {
		background: url(../img/bg-inactive-tab.png) no-repeat;
		display: block;
		width: 169px;
		height: 49px;;
		line-height: 49px;
		padding-left: 20px;
		text-decoration: none;
		font-size: 15px;
		color: #505050;
	}
		.tabs li a.active {
			background: url(../img/bg-active-tab.png) no-repeat;
			display: block;
			width: 206px;
			height: 49px;;
			line-height: 49px;
			padding-left: 30px;
			text-decoration: none;
			font-size: 15px;
			font-weight: 600;
			color: #6a6a6a;
			text-shadow: 0px 1px 0px rgb(255, 255, 255);
		}
		
		.detail .grid-list li, detail .grid-list li:nth-child(4n+4) {
			margin-right: 22px;
			margin-bottom: 20px;
		}
		detail .grid-list li:nth-child(3n+3) {margin-right: 0;}
		#tab1, #tab2, #tab3 { padding-left: 25px; }
	
	.info-list { 
		list-style-type: none;
		background: url(../img/content-line.png) no-repeat center bottom;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.info-list li { line-height: 18px; }
	.info-list li:before {
		font-family: 'icomoon';
		content: "\e66a";
		vertical-align: middle;
	}

.price-big {
	background: url(../img/bg-price.png) no-repeat;
	text-align: center;
	width: 189px;
	height: 79px;
	display: inline-block;
	float: left;
}
	.price-big span {
		font-weight: 300;
		font-size: 25px;
	}
	span.price {
		font-weight: 700;
		display: inline-block;
		margin-top: 15px;
	}
	span.availability {
		font-size: 12px;
		display: block;
	}
span.size { display: inline-block; margin-left: 35px; padding-top: 10px; }
span.color { display: inline-block; margin-left: 20px; }
span.quantity { display: inline-block; margin-left: 20px; }

.detail label { display: block; margin-bottom: 7px; font-weight: 300; }	
.customSelect {
	background: url(../img/bg-input.png);
	min-width: 84px;
	color: #6a6a6a;
	padding: 5px 8px;
	border: none;
	font-weight: 300;
	
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
}
	input[type='text'] {
		background: url(../img/bg-input.png);
		color: #6a6a6a;
		padding: 6px; 
		width: 30px;
		border: none;
		font-weight: 300;
		
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
		-o-border-radius: 3px 3px 3px 3px;
		-ms-border-radius: 3px 3px 3px 3px;
	}
	::-webkit-input-placeholder { color: #6a6a6a; font-weight: 300; }
	::-moz-placeholder { color: #6a6a6a; font-weight: 300; } /* firefox 19+ */
	:-ms-input-placeholder { color: #6a6a6a; font-weight: 300; } /* ie */
	input:-moz-placeholder { color: #6a6a6a; font-weight: 300; }

.customSelectFocus {
	font-weight: 400;
	color: #3d3d3d;
}
.customSelectInner {
	background:url(customSelect-arrow.gif) no-repeat center right;
}

.detail .add-to {
	background: url(../img/add-to-cart.png) no-repeat;
	display: inline-block;
	margin-left: 20px;
	width: 124px;
	height: 30px;
	text-indent: -9999px;
	border: none;
	outline: none;
}

.detail h3 {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 20px;
}
	table.sizes {
		width: 100%;
		text-align: center;
	}
	.sizes thead { background: rgba(237, 69, 69, .4); text-transform: uppercase; }
	.sizes thead th { font-weight: 400; padding: 8px 0px; }
	.sizes tbody td { padding: 8px 0; }
	.sizes tbody tr:nth-child(2n+1) { background: rgba(255, 255, 255, .3); }
	.sizes tbody tr:nth-child(2n+2) { background: rgba(255, 255, 255, .2); }

.slideshow i.new {
	background: url(../img/new-item.png) no-repeat top right;
	position: relative;
	z-index: 103;
	display: block;
	height: 55px;
	width: 56px;
	top: -254px;
	right: -201px;
	}

/* ==========================================================================
   Styly pro grid produktu
   ========================================================================== */
.grid .content-box {
		color: white;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
		-webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		-moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		-o-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		-ms-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		
		padding: 20px 20px 0px 20px;
		min-height: 20px;
}
.cart-box .content-box {
		color: white;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
		-webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		-moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		-o-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		-ms-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		
		padding: 20px 20px 0px 20px;
		min-height: 490px;
}
.grid-list {
	list-style-type: none;
	display: block;
	margin: 0 auto;
}
	.grid-list li {
		display: inline-block;
		margin-right: 13px;
		margin-bottom: 20px;
	}
	.grid-list li a { text-decoration: none; height: 216px; width: 217px; display: block;}
	.overlay {
		background: rgba(0, 0, 0, 0.4);
		box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .75);
		-webkit-box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .75);
		-moz-box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .75);
		-o-box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .75);
		-ms-box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .75);
		
		display: none;
		height: 217px; width: 216px;
		position: relative;
		margin-top: -217px;
	}
	.grid-list li a:hover .overlay {display: block;}
	.grid .grid-list li:nth-child(4n+4) {margin-right: 0;}

	.grid-list li .item {
		background: url(../img/bg-grid-product.png) repeat-x;
		height: 187px;
		width: 216px;
		margin: 0;
		float: none;
	}
		.grid-list li .item img {
			margin: 0 auto;
			padding-top: 15px;
			width: 50%;
		}
	.grid-list li span {
		background: url(../img/bg-grid-product-text.png) repeat-x;
		line-height: 30px;
		height: 30px;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 14px;
		color: #a7a7a7;
		display: block;
		text-align: center;
	}
	.grid-list i.new {
		background: url(../img/new-item.png) no-repeat top right;
		position: relative;
		z-index: 102;
		display: block;
		height: 55px;
		width: 56px;
		top: -170px;
		right: -161px;
	}


/* ==========================================================================
   Wrapper Styles
   ========================================================================== */
nav.container ul {
	list-style-type: none;
	display: block;
	background: url(../img/bg-main-menu.png) repeat-x;
	margin-top: 45px;
	text-align: center;
}
	nav.container ul li {
		background: url(../img/divider-main-menu.png) right center no-repeat;
		float: none;
		display: inline-block;
		padding: 0 41px;
		margin-left: -3px;
		line-height: 50px;
		font-size: 15px;
	}
	nav.container ul li:last-of-type { background: none; }
	nav.container ul li a {
		display: block;
		color: rgb(129, 129, 129);
		text-decoration: none;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}

.slideshow {
	margin-top: 10px;
	position: relative;
}
	.clone {
		background: url(../img/foreground-slider.png) no-repeat;
		width: 960px;
		height: 352px;
		top: 0px;
		position: absolute;
		z-index: 100;
	}
	
	.item {
		background: url(../img/bg-detail-img.png) no-repeat;
		height: 263px;
		width: 263px;
		margin: 45px 0px 0px 45px;
		float: left;
	}
		.item img {
			margin: 22px auto;
			display: block;
		}
	
	#slider2 li p, #slider3 li p {
		display: inline-block;
		float: right;
		font-size: 40px;
		font-weight: 300;
		width: 650px;
		color: #cecece;
		text-align: center;
		text-shadow: 0px 2px 5px rgba(0, 0, 0, .85);
		padding-top: 100px;
	}
		#slider2 li p span, #slider3 li p span {
			display: block;
			font-weight: 700;
			background: url(../img/line-in-slider.png) no-repeat center bottom;
			padding-bottom: 15px;
			text-transform: uppercase;
		}
			#slider2 li p a {
				color: #cecece;
				font-size: 15px;
				font-weight: 400;
				text-decoration: none;
				position: relative;
				z-index: 101;
			}


.left {
	float: left;
	width: 640px;
	margin-top: 30px;
}
.right {
	float: right;
	width: 250px;
	margin-top: 30px;
}
.grid {
	margin-top: 30px;
}
.cart-box {
	margin-top: 10px;
}
	.left h2 {
		background: url(../img/bg-lista.png);
		width: 600px;
		line-height: 40px;
		font-size: 16px;
		font-weight: 600;
		color: #6a6a6a;
		text-shadow: 0px 1px 0px rgb(255, 255, 255);
		margin-left: -10px;
		padding: 0 30px;
	}
	.right h2 {
		background: url(../img/bg-lista.png);
		width: 210px;
		line-height: 40px;
		font-size: 16px;
		font-weight: 600;
		color: #6a6a6a;
		text-shadow: 0px 1px 0px rgb(255, 255, 255);
		margin-left: -10px;
		padding: 0 30px;
	}
	.grid h2 {
		background: url(../img/bg-lista.png);
		width: 920px;
		line-height: 40px;
		font-size: 16px;
		font-weight: 600;
		color: #6a6a6a;
		text-shadow: 0px 1px 0px rgb(255, 255, 255);
		margin-left: -10px;
		padding: 0 30px;
	}
	ul.steps {
		list-style-type: none;
		line-height: 40px;
		width: 981px!important;
		margin-left: -10px;
	}
		ul.steps li {display: inline-table; }
		ul.steps li.stepOne a {
			text-indent: -9999px;
			background: url(../img/1-kosik-a.png) no-repeat;
			width: 246px;
			height: 40px;
			display: inline-table;
		}
		ul.steps li.stepTwo a {
			text-indent: -9999px;
			background: url(../img/2-kosik.png) no-repeat;
			width: 245px;
			height: 40px;
			display: inline-table;
		}
			ul.steps li.stepTwo.active a { background: url(../img/2-kosik-a.png) no-repeat; }
		ul.steps li.stepThree a {
			text-indent: -9999px;
			background: url(../img/3-kosik.png) no-repeat;
			width: 245px;
			height: 40px;
			display: inline-table;
		}
			ul.steps li.stepThree.active a { background: url(../img/3-kosik-a.png) no-repeat; }
		ul.steps li.stepFour a {
			text-indent: -9999px;
			background: url(../img/4-kosik.png) no-repeat;
			width: 245px;
			height: 40px;
			display: inline-table;
		}
			ul.steps li.stepFour.active a { background: url(../img/4-kosik-a.png) no-repeat; }
	span.left-corner {
		background: url(../img/bg-lista-left-down.png) no-repeat;
		height: 7px;
		width: 10px;
		display: block;
		float: left;
		margin-left: -10px;
	}
	span.right-corner {
		background: url(../img/bg-lista-right-down.png) no-repeat;
		height: 7px;
		width: 10px;
		display: block;
		float: right;
		margin-right: -10px;
	}
	.content-box {
		color: white;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
		background: -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		background: -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		background: -o-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		background: -ms-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
		
		padding: 20px;
		/*min-height: 279px; Kvůli homepage aby byli stejné sloupce!!!*/
	}
		.content-box p {
			line-height: 18px;
			margin-bottom: 10px;
			text-align: justify;
		}

	ul.news {
		list-style-type: none;
		text-align: justify;
	}
		ul.news span {
			color: #f02424;
		}
		ul.news li, ul.side-nav li { margin-bottom: 15px; } ul.news li:last-of-type, ul.side-nav li:last-of-type { margin: 0; }
		ul.news li a {
			color: white;
			text-decoration: none;
			font-weight: 300;
		}
		ul.news li a:hover {
			text-decoration: underline;
		}
	ul.side-nav { list-style-type: none; }
	ul.side-nav li a { color: white; text-decoration: none; font-size: 14px; }
	ul.side-nav li a:hover {text-decoration: underline; }
	ul.side-nav li a.active { text-decoration: none; color: #f02424; padding-left: 5px; }
	ul.side-nav li a.active:before { font-family: 'icomoon'; content: "\e66a"; vertical-align: baseline; }
	
/* ==========================================================================
   IMG Menu v content boxu
   ========================================================================== */
ul.img-menu {
	display: block;
	list-style-type: none;
	text-align: center;
	margin-top: 30px;
}
	ul.img-menu li {
		display: inline-block;
		margin: 0 9px;		
	}
	ul.img-menu li a {
		background: url(../img/menu-home-sprite.png) no-repeat;
		display: block;
		float: left;
		height: 108px;
		text-indent: -9999px;
	}
		.img-menu li a.player {
			width: 120px;
			background-position: 0 -108px;
		}
			.img-menu li a.player:hover {
			width: 120px;
			background-position: 0 0;
		}
		.img-menu li a.goalie {
			width: 120px;
			background-position: -120px -108px;
		}
			.img-menu li a.goalie:hover {
			width: 120px;
			background-position: -120px 0;
		}
		.img-menu li a.bags {
			width: 140px;
			background-position: -240px -108px;
		}
			.img-menu li a.bags:hover {
			width: 140px;
			background-position: -240px 0;
		}
		.img-menu li a.gloves {
			width: 130px;
			background-position: -380px -108px;
		}
			.img-menu li a.gloves:hover {
			width: 130px;
			background-position: -380px 0;
		}

.gallery { margin: 25px 0px 0px 0px; text-align: center; }
.gallery img { float: left; margin: 0 13px 12px 0; display: block; }
.gallery img:nth-child(4n+4) { margin-right: 0; }
/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background: url(../img/footer-line-top.png), url(../img/footer-line-bottom.png);
	background-position: center top, center bottom;
	background-repeat: no-repeat;
	padding: 20px 0;
	margin: 30px 0px 15px 0px;
}

footer ul {
	list-style-type: none;
	padding: 0px 20px 0px 40px;
	
	display: inline-block !important;
	vertical-align: top !important;
	float: none !important;
	height: auto !important;
	zoom: 1;
	overflow: hidden;
	width: 177px;
}
	footer ul li.heading {
		font-size: 14px;
		font-weight: 600;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
		color: #434343;
		margin-bottom: 10px;
	}
	footer ul li a {
		text-decoration: none;
		color: #434343;
		font-size: 12px;
		line-height: 18px;
	}
	footer ul li a:hover {
		text-decoration: underline;
	}
	footer ul li a:before {
		font-family: 'icomoon';
		content: "\e66a";
		vertical-align: baseline;
	}

.copy {
	font-size: 12px;
	padding-left: 20px;
	margin-bottom: 20px;
	color: #434343;
}
	.copy a {
		color: #434343;
		text-decoration: underline;
	}

/* ==========================================================================
   Košík classes
   ========================================================================== */
a.button {
	background: url(../img/bg-input.png);
	color: rgb(106, 106, 106);
	padding: 6px;
	border: none;
	text-decoration: none;
	display: block;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	
	position: absolute;
	bottom: 20px;
}
	.button:hover { text-decoration: underline; }
	.button.-l { left: 20px; } .button.-r { right: 20px; }
table.step-one {
	width: 100%;
	text-align: center;
}
.step-one input, step-one select { font-size: 13px; }
	table.step-one thead { font-size: 14px; border-bottom: 1px solid #9f9f9f; line-height: 34px;}
	.step-one thead th {font-weight: 400; } .step-one td { padding: 10px 0px; border-bottom: 1px solid rgba(159, 159, 159, .3); }
	.step-one th:nth-child(1), .step-one td:nth-child(1) {text-align: left!important; }
	
	.step-one tbody tr:hover {background: rgba(0, 0, 0, .5); } .step-one.four tr:hover {background: none; }
	.step-one td:nth-child(5) { font-weight: 600; font-size: 14px; }
	.step-one td:nth-child(6) a { font-size: 16px; color: white; text-decoration: none; } .step-one td:nth-child(6) a:hover {color: #a81616; }
	
	
.soucet {
	position: absolute;
	right: 20px;
	bottom: 70px;
	display: block;
}
	.soucet table { width: 250px; text-align: right; line-height: 34px;}
	.soucet table td.p {font-weight: 600; font-size: 14px; } .soucet table td.pp {font-weight: 600; font-size: 16px; }
	.soucet table tr:nth-child(2) { border-bottom: 1px solid #9f9f9f; }
	
ul.step-two.-l { float: left; } ul.step-two.-r { float: right; }
ul.step-two {list-style-type: none; width: 45%;}
	.step-two li.heading { font-size: 14px; border-bottom: 1px solid rgb(159, 159, 159); line-height: 34px; }
	.step-two li { line-height: 25px; padding-left: 10px;}

p.step-four {text-align: center; padding-top: 50px; margin-bottom: 0px!important; font-size: 14px; }
	.step-four a { font-weight: 600; color: white; } .step-four a:hover { color: rgb(240, 36, 36); }
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}